<h1>I post che xe stai publicai</h1>
<div class="text-center">
    <%= link_to "new post", new_post_path %>
</div>
<br>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @posts.each do |post|  %>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title><%= post.title %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= post.title %></text></svg>

          <div class="card-body">
            <p class="card-text"><%= post.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "show", post_path(post) %></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "edit", edit_post_path(post) %></button>
                <%= button_to "delete", post_path(post), method: :delete, onclick: "return confirm('Are you sure?')" %>
              </div>
              <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<br>