<h1>Ara sto Post</h1>
<p><strong>Titoeo:</strong> <%= @post.title %></p>
<p><strong>Descrission:</strong> <%= @post.description %></p>

<%= link_to "Modifica", edit_post_path(@post) %> | 
<%= button_to "Scancea", post_path(@post), method: :delete, onclick: "return confirm('Are you sure?')" %>
<%= link_to 'Torna Indrìo', posts_path %>