<div id="page-content">
  <h2 class="text-center mt-4"><%= @post.title %></h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            Post by <%= @post.user.nil? ? User.first.username : @post.user.username %>
          </div>
          <div class="card-body" style="display: inline;">
            <div class="card-text text-left"><%= simple_format(@post.description) %></div>
            <div style="display: flex; justify-content: center;">
              <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info" %>
              <%= button_to "Delete", post_path(@post), class: "btn btn-outline-danger", method: :delete, onclick: "return confirm('Are you sure?')" %>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@post.created_at) %> ago, 
            edited <%= time_ago_in_words(@post.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 